<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add the same head content as index.html -->
</head>
<body>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="margin-right: 50px;">
            <h1>Signup to your math world</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
        <div>
            <a href="{% url 'login' %}">Already have an account?</a>
        </div>
    </div>
</body>
</html>
